#calc-holder {
    text-align: center;
    margin: auto;
    border: 1em;
    border-color: pink;
    border-style: dotted;
    padding: 14px;
    width: 300px;
}

#result-hold {
    width: 300px;
    height: 80px;
    border: 2px;
    border-color: pink;
    border-style: solid;
    font-size: 50px;
    color: pink;
}

#result {
    border-style: dotted;
    height: 74px;
}

h1 {
    color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color:darkred;
    font-family: Arial, Helvetica, sans-serif;
}

/* http://css3buttongenerator.com/ */
.oprt {
    background: #c334d9;
    background-image: -webkit-linear-gradient(top, #c334d9, #6da3c7);
    background-image: -moz-linear-gradient(top, #c334d9, #6da3c7);
    background-image: -ms-linear-gradient(top, #c334d9, #6da3c7);
    background-image: -o-linear-gradient(top, #c334d9, #6da3c7);
    background-image: linear-gradient(to bottom, #c334d9, #6da3c7);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 6px 5px 5px 5px;
    text-decoration: none;
    width: 35px;
  }
  
  .oprt:hover {
    background: #44a61e;
    background-image: -webkit-linear-gradient(top, #44a61e, #3498db);
    background-image: -moz-linear-gradient(top, #44a61e, #3498db);
    background-image: -ms-linear-gradient(top, #44a61e, #3498db);
    background-image: -o-linear-gradient(top, #44a61e, #3498db);
    background-image: linear-gradient(to bottom, #44a61e, #3498db);
    text-decoration: none;
  }

  #num1 {
      background-color: pink;
  }
  #num2 {
    background-color: pink;
  }